/* General Body */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 234, 234);
    background: #172042;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    color: #6b6f8a;
    font-size: 0.9em;
    text-indent: 10px;
}

small {
    color: #6b6f8a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0c1839;
}

::-webkit-scrollbar-thumb {
    background: #6b6f8a;
}

/* Navbar */
.navbar {
    text-decoration: none;
    background-color:  #1c2147;
    z-index: 3;
    position: fixed;
    width: 100%;
}

.navbar .container {
    max-width: 1250px;
    padding: 2em;
    margin: 0 auto;
}

.navbar .container > div {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
}

.navbar ul {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin: 0 0.5em;
}

.navbar ul a {
    font-size:1em;
    text-transform: uppercase;
    color: #6b6f8a;
    padding-bottom: 0.2em;
    transition: 0.3s;
}

.navbar ul a:hover {
    color: #fff;
}

.navbar .active {
    border-bottom: 2px #03dcee solid;
    color: #fff;
}

/* Dashboard */
.dashboard{
    background-color: #17204200;
    padding: 5em;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding-top: 200px;
}

.graph {
    background-color: #17204200;
    padding: 5em;
    position: absolute;
    top: 7em;
    right: 0px;
    width: calc(100% - 30em);
    overflow-x: hidden;
}

.panel {
    background: linear-gradient(
        90deg, #262a4f, #122422
    );
    box-shadow: 
        -5px -5px 8px #11163c,
        5px 5px 5px #11163c;
    border-radius: 15px;
    overflow: hidden;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em
}

.list li:not(:last-child) {
    border-bottom: 1px #2a335e solid;
}

.list span{
    color: #b7e8ec;
}

/* Prediction section */

.Prediction-panel {
    grid-column-start: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin: 3em 0;
}

.Prediction-panel > div {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1em;
}

.Prediction-panel h1 {
    margin: 0.5em 0;
}

.Prediction-panel small {
    color: #fff;
}

/* .Prediction-panel > div:nth-child(even) {
    background: linear-gradient(0deg, #b52b4b, #ea335d);
} */

/* .Prediction-panel > div:nth-child(odd) {
    background: linear-gradient(0deg, #178add, #03dcee);
} */

.Prediction-panel > div {
    background: linear-gradient(0deg, rgb(122, 170, 176), #02cee1);
}

/* Information Section */

.button {
    border: 0;
    font-weight: bold;
    font-size:1.1em;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.button:hover {
    color: #00eaff;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff1e;
}

.box-1 {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 10px;
    background: linear-gradient(
        180deg, #262a4f, #122422
    );
    box-shadow: 
        -5px -5px 8px #11163c,
        5px 5px 5px #11163c;
    border-radius: 15px;
    overflow: hidden;
}

.information {
    grid-column-start: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin: 3em 0;
}

.information > div {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1em;
    background: linear-gradient(
        180deg, #222646, #122422
    );
    box-shadow: 
        -5px -5px 8px #11163c,
        5px 5px 5px #11163c;
    border-radius: 15px;
    overflow: hidden;
}

.information h1 {
    margin: 0.5em 0;
}

.information small {
    color: rgb(174, 174, 174);
}